
table {
  border: 1px solid #000;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
table th {
  text-align: center;
}
table tbody td {
  border: 1px solid #000;
  text-align: center;
  overflow: hidden;
  padding: 5px;
  height: 40px;
  width: 400px;
}


.divPersonaSelectTable {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.tab-content {
  width: 1000px;
}
