
main.content {
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

body { font-size: 18px; }

section {
  width: 1000px;
  margin-left: -15%;
  overflow-x: auto;
}

h1, h2 { text-align: center; }

.panel-tabset { width: fit-content; }

.divPersonaSelectTable {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

table thead tr{
  border: 1px solid #000;
}

th {
  width: 106.81px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
}

table tbody td {
  border: 1px solid #000;
  text-align: center;
  overflow: hidden;
  height: 40px;
}

.divCompendium {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.InputsCompendium { width: 100px; }


#divTableCompendium {
  width: 1000px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.tableCompendium {
  width: 100%;
  overflow-x: auto;
}



